pkgbase = nautilus-my-computer
	pkgdesc = My Computer for Nautilus, what GNOME Files should have always been
	pkgver = 0.13.2
	pkgrel = 2
	url = https://github.com/yannmasoch/nautilus-my-computer
	arch = any
	license = MIT
	makedepends = gettext
	depends = python-nautilus
	depends = libadwaita
	depends = python-cairo
	source = nautilus-my-computer-0.13.2.tar.gz::https://github.com/yannmasoch/nautilus-my-computer/archive/refs/tags/v0.13.2.tar.gz
	source = 183.patch
	sha256sums = 087cbab3bad97ba648efc76abd661e2166752a6bd0bed789b37e5cc5f0dbe557
	sha256sums = fd0678fb1e244a8954d8f97ab85dd7e82afa443488d3b8d09dbd1dc023b08d0c

pkgname = nautilus-my-computer
