pkgbase = gelly
	pkgdesc = Music player for Jellyfin and Subsonic
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/Fingel/gelly
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = gettext
	depends = libadwaita
	depends = gst-plugins-good
	depends = org.freedesktop.secrets
	options = !lto
	source = gelly-1.9.0.tar.gz::https://github.com/Fingel/gelly/archive/refs/tags/v1.9.0.tar.gz
	sha512sums = c30b99d51f502400365b0cde7816c878a2dcf8c4cbe7b9df819b431a49d563f1d7f1c4ea2cd556e805e9f80494b3bee2ea8b7b0d77993a3e1e7dfaaa100d3128

pkgname = gelly
