pkgbase = jdk21-jetbrains-bin
	pkgdesc = OpenJDK development kit with some fixes and enhancements by JetBrains
	pkgver = 21.0.11b1163.116
	pkgrel = 1
	url = https://github.com/JetBrains/JetBrainsRuntime/releases
	arch = x86_64
	license = GPL2
	depends = java-runtime-common
	depends = ca-certificates-java
	depends = java-environment-common
	provides = java-runtime=21
	provides = java-runtime-headless=21
	provides = java-environment=21
	provides = java-runtime-openjdk=21
	provides = java-runtime-headless-jre=21
	provides = java-environment-openjdk=21
	replaces = intellij-jdk
	replaces = jdk-jetbrains
	source = jbrsdk_jcef-21.0.11-linux-x64-b1163.116.tar.gz::https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.11-linux-x64-b1163.116.tar.gz
	sha512sums = 6085bd3823ae88719e9920a43b3fed299d5e0454eb3b9755746f0f4833d1746a2b92aadb9608bf3df2da4c71fd88e6697e08000136885b6098fd30f42c29def8

pkgname = jdk21-jetbrains-bin
