pkgbase = niri-git
	pkgdesc = A scrollable-tiling Wayland compositor
	pkgver = 26.04.r43.g7f26c3e
	pkgrel = 2
	url = https://github.com/niri-wm/niri
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = rust
	makedepends = git
	depends = cairo
	depends = glib2
	depends = glibc
	depends = libdisplay-info
	depends = libgcc
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = xdg-desktop-portal-impl
	optdepends = alacritty: a suggested GPU-accelerated terminal emulator
	optdepends = bash: for niri-session script
	optdepends = fuzzel: a suggested Wayland application launcher
	optdepends = mako: a suggested Wayland notification daemon
	optdepends = org.freedesktop.secrets: for apps to rely on secrets portal
	optdepends = swaybg: a suggested Wayland wallpaper tool
	optdepends = swaylock: a suggested Wayland screen locker
	optdepends = waybar: a suggested Wayland customizable desktop bar
	optdepends = xwayland-satellite: for running X11 apps in XWayland
	optdepends = xdg-desktop-portal-gtk: a suggested XDG desktop portal
	optdepends = xdg-desktop-portal-gnome: a XDG desktop portal required for screencasting
	provides = niri=26.04.r43.g7f26c3e
	provides = wayland-compositor
	conflicts = niri-bin
	conflicts = niri
	source = niri::git+https://github.com/niri-wm/niri.git
	b2sums = SKIP

pkgname = niri-git
