pkgbase = vesktop-electron
	pkgdesc = An Electron-based Discord app with Vencord & improved Linux support using system provided electron.
	pkgver = 1.6.6
	pkgrel = 1
	url = https://github.com/Vencord/Vesktop
	install = vesktop-electron.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = pnpm
	makedepends = npm
	makedepends = nodejs
	makedepends = electron43
	depends = electron43
	depends = alsa-lib
	depends = gtk3
	depends = nss
	optdepends = libnotify: Notifications
	optdepends = xdg-utils: Open links, files, etc
	provides = vesktop
	conflicts = vesktop
	source = Vesktop-1.6.6.tar.gz::https://github.com/Vencord/Vesktop/archive/v1.6.6.tar.gz
	source = vesktop.desktop
	source = vesktop.sh
	sha256sums = 9081bbb8f2e9f30b1ee475d3f66905febdd9b774eab35e1d577b921071c68adb
	sha256sums = 3bcbe6fdfb1382da8c687a52a0b9100f1235bc8fc620bc5546bbdfd62148677d
	sha256sums = 6fff721118efbe5a33e8ece228683a712ea06979dbdecf2a4ef7db2357a1e4d9

pkgname = vesktop-electron
